/*HTML Elements*/
body {
    background-color: #edfdff;
}

th, td {
    text-align: center;
    position: relative;
}

th > *, td > * {
    margin: 15px 20px;
}

th > textarea, td > textarea {
    margin: 0;
}

textarea {
    width: 100%;
    min-height: 100%;

    position: relative;
    left: 0;
    top: 0;

    text-align: center;

    resize: none;
    overflow: hidden;
    word-wrap: break-word;
}

/*Classes*/
.container-fluid {
    padding: 0;
    margin: 0;
}

.edit-question-button, .save-question-changes-button, .edit-category-button, .save-category-changes-button {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    position: absolute;
    left: 5px;
    top: 5px;
    margin: 0;
}

.category-name {
    word-wrap: break-word;
}

.save-content-changes-form {
    margin: 0;
}

.category-header-row th {
    display: inline-block;
}

.category-id-column {
    width: 15%;
}

.category-name-column {
    width: 60%;
}

.category-edit-column {
    width: 25%;
}

.category-button {
    margin: 5px;
}

.selected-category-wrapper {
    margin-left: 15px;
}

/*IDs*/
#question-and-category-row {
    padding-top: 15px;
    PADDING-BOTTOM: 15px;
}

#new-question-content {
    text-align: center;
}

#title {
    text-align: center;
    font-size: 4em;
    margin-top: 15px;
    margin-bottom: 15px;
}

#add-new-question-label {
    text-align: left;
    padding-left: 0;
    padding-right: 0;
}

#content-table-wrapper {
    padding-left: 0;
}

#add-new-question-form {
    margin-bottom: 15px;
}

#new-question-submit-button, #new-category-submit-button {
    width: 100%;
}

#new-category {
    text-align: center;
}

#category-table-wrapper {
    padding-right: 0;
    position: fixed;
}

#category-table {
    width: 100%;
}

#category-table-tbody {
    display: block;
    max-height: calc(100vh - 400px);
    overflow-y: overlay; /*Supported by Chrome, otherwise category table will look shifted, but still function.*/
}

#category-table-thead {
    width: 100%;
}

#category-table-tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}